.cart {
  width: 30%;
  background-color: green;

  .textCart {
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #000000;
    border-bottom: 1px solid black;
  }
}
