.dish {
  margin: 20px;
  padding: 20px;
  width: 30%;
  border: solid 3px rgb(184, 177, 177);
  border-radius: 20px;

  img {
    width: 95%;
    height: 350px;
    object-fit: cover;
  }

  button {
    width: 95%;
  }
}

.infoFlex {
  display: flex;
  justify-content: space-between;
}
